/* Esercizio 1 */
.ex-1-square {
    transition: 2s;
}

.ex-1-square:hover {
    background: red;
}

/* Esercizio 2 */
.ex-2-square {
    transition: 2s;
}

.ex-2-square:active {
    width: 1000px;
    height: 500px;
}
/* Esercizio 3 */
.ex-3-square {
    transition: 2s;
}

.ex-3-square:hover {
    border-radius: 50px;
}
/* Esercizio 4 */
.ex-4-square {
    transition: 2s;
}

.ex-4-square:hover {
    background: #F5F5F5;
}

